<section id="que-hacemos" class="py-20">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl text-blancofull font-bold mb-6 ">¿Qué hacemos?</h2>
        <p class="text-yellow-100 max-w-3xl mx-auto mb-8">Nuestro sistema
            te permite conectarte con personas que buscan o brindan
            mentoría en diversas áreas, desde tecnología, física, hasta
            medicina. Filtra el contenido por área de estudio, accede a
            publicaciones en tu feed, y disfruta de chat en vivo,
            comentarios y sistema de me gusta.</p>
            <div class="flex justify-center items-center space-x-10">
                <!-- Primera imagen -->
                <div class="flex flex-col items-center max-w-xs text-center">
                    <img src="/images/aprendejuntos90.jpg" 
                        alt="Aprender juntos" 
                        class="rounded-lg mb-4 w-[300px] h-[300px] object-cover">
                    <p class="text-blancofull">Encuentra amigos que compartan tus intereses y
                        participa en conversaciones relevantes.</p>
                </div>
            
                <!-- Segunda imagen -->
                <div class="flex flex-col items-center max-w-xs text-center">
                    <img src="/images/mentoria.jpeg" 
                        alt="Mentoría personalizada" 
                        class="rounded-lg mb-4 w-[300px] h-[300px] object-cover">
                    <p class="text-blancofull">Conéctate con mentores que te guiarán en tu
                        crecimiento y proceso académico y profesional.</p>
                </div>
            </div>
            
        </div>
    
</section>