
<div class="hero">
  <div class="auth-container">
    <!-- Cuadro de bienvenida -->
    <div class="welcome-box">
      <h2>Bienvenidos a Edu Conecta</h2>
      <p>
        Una plataforma educativa diseñada para conectar estudiantes y
        profesores en un entorno de aprendizaje moderno. Aquí podrás
        administrar tus clases, interactuar con tus compañeros y mejorar tus
        habilidades.
      </p>
      <p>
        ¡Regístrate ahora para ser parte de nuestra comunidad o inicia sesión
        para continuar con tu aprendizaje!
      </p>
    </div>

    <!-- Cuadro de formularios -->
    <div class="form-box">
      <div class="button-box">
        <button
          class="toggle-btn" [class.active]="activeForm === 'login'"
          (click)="showLoginForm()">Iniciar Sesion
        </button>
        <button class="toggle-btn" [class.active]="activeForm === 'register' "
          (click)="showRegisterForm()">Registrate
        </button>
      </div>

      <!-- Mostrar alerta dinámica -->
      <div *ngIf="alertMessage" [ngClass]="{
        'bg-green-100 border-green-500 text-green-700': alertType === 'success',
        'bg-amber-100 border-amber-500 text-amber-700': alertType === 'warning',
        'bg-red-100 border-red-500 text-red-700': alertType === 'error'
      }" role="alert" class="px-4 py-3">
        <p class="font-bold">{{ alertType === 'success' ? '¡Éxito!' : alertType
          === 'warning' ? 'Advertencia' : 'Error' }}</p>
        <p class="text-sm">{{ alertMessage }}</p>
      </div>

      <!-- Formulario de Login -->
      <form
        id="login"
        class="input-group"
        [class.active]="activeForm === 'login'"
        #loginForm="ngForm"
        (ngSubmit)="onLogin(loginForm)">
        <label for="login-username">Correo electrónico</label>
        <input
          id="login-username"
          type="email"
          class="input-field"
          placeholder="Ingresa tu correo"
          name="email"
          required
          ngModel />
        <label for="login-password">Contraseña</label>
        <input
          id="login-password"
          type="password"
          class="input-field"
          placeholder="Ingresa tu contraseña"
          name="password"
          required
          ngModel />
        <button type="submit" class="submit-btn">Iniciar Sesión</button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>

      <!-- Formulario de Registro -->
      <form
        id="register"
        class="input-group"
        [class.active]="activeForm === 'register'"
        (ngSubmit)="register()">
        <label for="register-nombres">Nombres</label>
        <input
          id="register-nombres"
          type="text"
          class="input-field"
          placeholder="Ingresa tu nombre completo"
          [(ngModel)]="user.usuNombres"
          name="usuNombres"
          required />

        <label for="register-apellidos">Apellidos</label>
        <input
          id="register-apellidos"
          type="text"
          class="input-field"
          placeholder="Ingresa tus apellidos"
          [(ngModel)]="user.usuApellidos"
          name="usuApellidos"
          required />

        <label for="register-email">Correo Electrónico</label>
        <input
          id="register-email"
          type="email"
          class="input-field"
          placeholder="Ingresa tu correo electrónico"
          [(ngModel)]="user.usuCorreo"
          name="usuCorreo"
          required />

        <label for="register-password">Contraseña</label>
        <input
          id="register-password"
          type="password"
          class="input-field"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="user.usuContrasena"
          name="usuContrasena"
          required />

        <label for="biografia">Biografía</label>
        <input
          id="biografia"
          type="text"
          class="input-field"
          placeholder="Escribe tu biografía"
          [(ngModel)]="user.usuBiografia"
          name="usuBiografia"
          required />

        <button type="submit" class="submit-btn">Registrarse</button>
      </form>

      <!-- Formulario de Recuperación de Contraseña -->
      <form
        id="forgot-password"
        class="input-group"
        [class.active]="activeForm === 'forgotPassword'">
        <label for="forgot-email">Correo Electrónico</label>
        <input
          id="forgot-email"
          type="email"
          class="input-field"
          placeholder="Ingresa tu correo electrónico"
          required />
        <label for="forgot-confirm-email">Confirmar Correo Electrónico</label>
        <input
          id="forgot-confirm-email"
          type="email"
          class="input-field"
          placeholder="Confirma tu correo electrónico"
          required />
        <button type="button" class="submit-btn">Enviar</button>
        <p class="toggle-text">
          <a href="javascript:void(0)" (click)="showLoginForm()">Volver al
            Iniciar Sesion</a>
        </p>
      </form>
    </div>
  </div>
</div>
