<section id="quienes-somos" class="py-20 bg-gray-900">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl font-bold mb-6 text-blancofull">¿Quiénes somos?</h2>
        <p class="text-yellow-100 max-w-3xl mx-auto mb-8">Somos un equipo
            apasionado por la educación y la tecnología. Creemos que la
            conexión entre personas con experiencias diversas puede
            mejorar la calidad de aprendizaje y la colaboración entre
            diferentes disciplinas.</p>
        <div class="flex justify-center items-center space-x-10">
            <div class="max-w-xs">
                <img src="/images/nosotros.jpg"
                    alt="Nuestro equipo" class="rounded-lg mb-4">
                <p class="text-blancofull">Trabajamos para construir un puente entre aprendices
                    y mentores.</p>
            </div>
            <div class="max-w-xs">
                <img
                    src="/images/transformar.jpg"
                    alt="Educación colaborativa"
                    class="rounded-lg mb-4">
                <p class="text-blancofull">Nos impulsa la misión de transformar la educación a
                    través de la mentoría.</p>
            </div>
        </div>
    </div>
</section>