<header class="bg-gray-900 py-4 fixed w-full top-0 shadow-lg z-10">
    <div
        class="container mx-auto flex justify-between items-center px-6">
        <h1 class="text-3xl font-bold">EduConecta</h1>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="#que-hacemos"
                        class="hover:text-indigo-400">¿Qué
                        hacemos?</a></li>
                <li><a href="#quienes-somos"
                        class="hover:text-indigo-400">¿Quiénes
                        somos?</a></li>
                <li><a href="#porque-lo-hacemos"
                        class="hover:text-indigo-400">¿Por qué lo
                        hacemos?</a></li>
                <li><a href="#nuestro-proposito"
                        class="hover:text-indigo-400">Nuestro
                        propósito</a></li>
                <li><a href="#equipo"
                        class="hover:text-indigo-400">Nuestro
                        equipo</a></li>
            </ul>
        </nav>
    </div>
</header>