<section id="nuestro-proposito" class="py-20 bg-gray-900">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl font-bold mb-6 text-blancofull">Nuestro
            propósito</h2>
        <p class="text-gray-400 max-w-3xl mx-auto mb-8">Queremos
            construir la comunidad más grande de mentoría online, donde
            tanto aprendices como mentores puedan interactuar, compartir
            experiencias, y crecer profesionalmente a través de un
            ecosistema de conocimiento en constante evolución.</p>
        <img
            src="https://unsplash.com/es/fotos/un-gran-grupo-de-personas-activas-y-en-forma-saltando-despues-de-hacer-ejercicio-en-la-naturaleza-RJESbntPqt0"
            alt="Comunidad de aprendizaje"
            class="mx-auto rounded-lg mt-6">
    </div>
</section>