<section class="rounded-lg border border-blue-gray-50 font-sans py-4 px-6 mx-4 text-center bg-white shadow-md">
  <p class="font-bold text-lg mb-4 text-center">AMISTADES</p>

  <!-- Verifica si los amigos están cargados -->
  <div *ngIf="loading" class="text-center">
    <p>Cargando...</p>
  </div>

  <!-- Lista de amigos -->
  <div *ngFor="let amigo of amigos" class="publicacion flex flex-col sm:flex-row sm:items-center gap-4 mb-4 p-4 bg-gray-50 rounded-lg shadow-sm">
    <!-- Contenedor de la información del amigo -->
    <div class="flex items-center gap-4 flex-1">
      <img
        [src]="amigo.usuImgperfil || 'image-placeholder.png'"
        alt="Imagen de {{amigo.usuNombres}}"
        class="object-cover object-center w-12 h-12 rounded-full border border-gray-300">

      <div class="text-left">
        <p class="font-bold text-gray-700">{{ amigo.usuNombres }} {{ amigo.usuApellidos }}</p>
        <p class="text-sm font-medium text-green-500">En línea</p>
        
        <p class="text-sm text-gray-600 italic hidden  max-[1100px]:hidden min-[1101px]:block ">
          "{{ amigo.usuBiografia }}"
        </p>
      </div>
    </div>

    <div class="sm:flex-shrink-0">
      <!-- Cambiar de irAUsuario a irAChat para ir al chat -->
      <button
        (click)="irAChat(amigo.usuarioId)"
        class="rounded-lg bg-blue-500 py-2 px-4 text-sm font-bold uppercase text-white shadow-md transition-all hover:bg-blue-600 w-full sm:w-auto">
        Chat
      </button>
    </div>
  </div>
</section>
