<section id="equipo" class="py-20">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl text-blancofull font-bold mb-6">Nuestro equipo</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
            <div class="text-center    transform transition-transform duration-200 hover:scale-110">
                <img
                    src="/images/perfil2.png"
                    alt="Desarrollador"
                    class="rounded-full mx-auto mb-4  ">
                <h3 class="text-2xl text-blancofull font-bold">Michael Perez</h3>
                <p class="text-yellow-400">Desarrollador FullStack</p>
                <p class="text-blancofull mt-2">Analista, diseñador,
                    desarrollador, tester y insano developer.</p>
            </div>
            <div class="text-center transform transition-transform duration-200 hover:scale-110">
                <img
                    src="/images/perfil2.png"
                    alt="Desarrollador"
                    class="rounded-full mx-auto mb-4">
                <h3 class="text-2xl  text-blancofull font-bold">Cristian Castro</h3>
                <p class="text-yellow-400">Desarrollador FullStack</p>
                <p class="text-blancofull mt-2">Analista, diseñador,
                    desarrollador, tester y insano developer.</p>
            </div>
            <div class="text-center  transform transition-transform duration-200 hover:scale-110">
                <img src="/images/perfil2.png"
                    alt="Desarrollador"
                    class="rounded-full mx-auto mb-4">
                <h3 class="text-2xl text-blancofull font-bold">Kevin Ospina</h3>
                <p class="text-yellow-400">Desarrollador FullStack</p>
                <p class="text-blancofull mt-2">Analista, diseñador,
                    desarrollador, tester y insano developer.</p>
            </div>
        </div>
    </div>
</section>
