<section class="flex-1 rounded-lg border border-blue-gray-50 font-sans p-4 mr-2 ml-2 text-center">
    <div><!--agregar aqui un *ngfor-->
        <div class="publicacion">
            <div
                class=" rounded-lg border border-blue-gray-50 bg-blancofull mt-4 mx-4 p-4 font-sans text-sm font-normal text-blue-gray-500">
                <div class="flex items-center gap-4 mb-2">
                    <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
                        alt="tania andrew"
                        class="relative inline-block object-cover object-center w-12 h-12 rounded-full" />
                        <p>nombre de la persona</p>
                </div>
                
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700">
                    aqui se van a mostrar las publicaciones que hagan de los temas favoritos
                </p>
                <div class="flex items-center gap-8 pt-4 mt-6 border-t border-blue-gray-50">
                    <p class="flex items-center gap-1 font-sans text-xs antialiased font-normal text-gray-700">
                        <img src="like.png" alt="like">
                        me gusta
                    </p>
                    <p class="flex items-center gap-1 font-sans text-xs antialiased font-normal text-gray-700">
                        <img src="comment.png" alt="comment">
                        comentar
                </p>
                </div>
            </div>
        </div>
    </div>
</section>