.messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: calc(100% - 120px);
    /* Ajuste para que no se desborde */
}

.message-content {
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-message {
    align-self: flex-start;
    /* Alinea los mensajes del usuario a la izquierda */
    background-color: #10B981;
    /* Color de fondo del mensaje del usuario */
    color: white;
    /* Color del texto del usuario */
    border-radius: 15px;
    border: 1px solid #1D4ED8;
}

.ai-message {
    align-self: flex-end;
    /* Alinea los mensajes de la IA a la derecha */
    background-color: #E5E7EB;
    /* Color de fondo de los mensajes de IA */
    color: #1D4ED8;
    /* Color del texto de IA */
    border-radius: 15px;
    border: 1px solid #B0B0B0;
}

input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
}

button {
    cursor: pointer;
    background-color: #10B981;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

button:hover {
    background-color: #16A34A;
}

form {
    display: flex;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 100px;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 3px solid #fff;
    border-radius: 10px;
}