.messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: calc(100% - 120px);
    /* Ajuste para que no se desborde */
}

.message-content {
    display: flex;
    flex-direction: column-reverse; /* Coloca el último mensaje al fondo */
    gap: 10px;
}

.user-message {
    align-self: flex-start; /* Alinea los mensajes del usuario a la izquierda */
    background-color: #ffffff; /* Fondo blanco para el mensaje del usuario */
    color: rgb(0, 0, 0); /* Texto negro */
    border-radius: 15px; /* Bordes redondeados */
    border: 1px solid #b6c2e4; /* Borde de color gris claro */
    max-width: 70%; /* Limita el ancho máximo para que no ocupe todo el ancho */
    word-wrap: break-word; /* Rompe las palabras largas para ajustarlas al contenedor */
    padding: 10px; /* Espaciado interior */


    /* align-self: flex-start; /* Alinea los mensajes del usuario a la izquierda 
    background-color: #ffffff;  /* Color de fondo del mensaje del usuario 
    color: rgb(0, 0, 0); /* Color del texto del usuario 
    border-radius: 15px;
    border: 1px solid #b6c2e4; */
}

.ai-message {
    align-self: flex-end; /* Alinea los mensajes del chatbot a la derecha */
    background-color: #e6f1f7; /* Fondo azul claro para los mensajes del bot */
    color: rgb(0, 0, 0); /* Texto negro */
    border-radius: 15px; /* Bordes redondeados */
    border: 1px solid #b6c2e4; /* Borde gris claro */
    max-width: 70%; /* Limita el ancho máximo */
    word-wrap: break-word; /* Rompe las palabras largas */
    padding: 10px; /* Espaciado interior */


   /* align-self: flex-end; /* Alinea los mensajes de la IA a la derecha 
    background-color: #0c0c0c; /* Color de fondo de los mensajes de IA 
    color: #f9fbff; /* Color del texto de IA 
    border-radius: 15px;
    border: 1px solid #B0B0B0;*/
}

input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 10px solid #D1D5DB;
}

button {
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

button:hover {
    background-color: #9aebe4;
}

form {
    display: flex;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 100px;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 3px solid #fff;
    border-radius: 10px;
}