<header class="bg-blancofull py-8 fixed w-full top-0 shadow-lg z-10">
    <div class="container mx-auto flex justify-between items-center px-6">
        <div>
            <a routerLink="">
                <img src="images/icono.png" height="50" width="50" alt>
            </a>
        </div>
        <h1 class="text-3xl font-bold"> <a routerLink=""> EduConecta</a> </h1>
        <nav>
            <ul class="hidden md:flex space-x-6">
                <li>
                    <a routerLink=""
                        class="py-2 px-4 rounded-full font-bold botonnegro text-blanco ">
                        Entrar
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</header>
