<section class="w-[50%] rounded-lg border border-blue-gray-50 font-sans py-4 px-6 text-center bg-white shadow-md  mx-[25%] mt-4">
    <p class="font-bold text-lg mb-4 text-center">EDITAR PERFIL</p>
    
  
    <!-- perfil -->
    <div class=" flex justify-between  sm:flex-row sm:items-center gap-4 mb-4 p-4 bg-gray-50 rounded-lg shadow-sm">
      <!-- Contenedor de la información del perfil -->
    <form action="">
      <div class="flex flex-1 items-center gap-4 flex-1">
        <img src="{{usuario.usuImgperfil}}"
          alt="imagen de {{usuario.usuNombre}}" 
          class="object-cover object-center w-40 h-40 rounded-full border border-gray-300">
          
        <div class="text-left">
            <label class="font-bold text-gray-700" for="img">Imagen perfil</label>
            <input id="img" type="file" accept="image/jpeg">
        </div>
      </div>
      
    </form>
    <div class="flex justify-end mb-4">
      <button class="submit-button mt-3 bg-blue-500 text-white text-sm font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition">
      guardar
    </button>
    </div>
</div>
  </section>
  <section class="w-[50%] rounded-lg border border-blue-gray-50 font-sans py-4 px-6 bg-white shadow-md mx-[25%] mt-4">
    <h1 class="font-bold text-xl">Editar Información Básica</h1>
    <form #changeInfoForm="ngForm" (ngSubmit)="onSaveChanges(changeInfoForm)">
      <div class="my-4 w-[100%]">
        <label for="nombre" class="my-4">Nombres</label><br />
        <input
          id="nombre"
          name="usuNombres"
          class="border border-blue w-[100%]"
          type="text"
          [(ngModel)]="usuario.usuNombre"
          required
        />
      </div>
      <div class="my-4 w-[100%]">
        <label for="apellidos" class="my-4">Apellidos</label><br />
        <input
          id="apellidos"
          name="usuApellidos"
          class="border border-blue w-[100%]"
          type="text"
          [(ngModel)]="usuario.usuApellidos"
          required
        />
      </div>
      <div class="my-4 w-[100%]">
        <label for="biografia">Biografía</label><br />
        <textarea
          id="biografia"
          name="usuBiografia"
          class="border border-blue w-[100%] h-[300px]"
          [(ngModel)]="usuario.usuBiografia"
          required
        ></textarea>
      </div>
      <div class="flex justify-end">
        <button type="submit" class="my-4 border border-blue w-[200px] h-[50px] rounded-lg">
          Guardar cambios
        </button>
      </div>
    </form>
  </section>
  <section
  class="w-[50%] rounded-lg border border-blue-gray-50 font-sans py-4 px-6 bg-white shadow-md mx-[25%] mt-4">
  <h1 class="font-bold text-xl">Cambiar Contraseña</h1>
  <form
    #changePasswordForm="ngForm"
    (ngSubmit)="onChangePassword(changePasswordForm)">
    <div class="my-4 w-[100%]">
      <label for="current-password" class="my-4">Contraseña actual</label><br>
      <input
        id="current-password"
        class="border border-blue w-[100%]"
        type="password"
        placeholder="Ingrese su contraseña actual"
        name="oldPassword"
        ngModel
        required />
    </div>

    <div class="my-4 w-[100%]">
      <label for="new-password" class="my-4">Nueva Contraseña</label><br>
      <input
        id="new-password"
        class="border border-blue w-[100%]"
        type="password"
        placeholder="Ingrese su nueva contraseña"
        name="newPassword"
        ngModel
        required />
    </div>

    <div class="my-4 w-[100%]">
      <label for="confirm-password" class="my-4">Confirmar Nueva Contraseña</label><br>
      <input
        id="confirm-password"
        class="border border-blue w-[100%]"
        type="password"
        placeholder="Vuelva a ingresar la nueva contraseña"
        name="confirmPassword"
        ngModel
        required />
    </div>

    <div class="flex justify-end">
      <button
        type="submit"
        class="my-4 border border-blue w-[200px] h-[50px] rounded-lg">
        Cambiar Contraseña
      </button>
    </div>

    <!-- Mensajes de éxito o error -->
    <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="text-green-500">{{ successMessage }}</div>
  </form>
</section>

