<section class="w-[50%] rounded-lg border border-blue-gray-50 font-sans py-4 px-6 text-center bg-white shadow-md  mx-[25%] mt-4">
    <p class="font-bold text-lg mb-4 text-center">EDITAR PERFIL</p>
    <div class="flex justify-end mb-4">
        <button class="submit-button mt-3 bg-blue-500 text-white text-sm font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition">
        guardar
      </button>
      </div>
  
    <!-- perfil -->
    <div *ngFor="let perfil of perfil" class=" flex justify-between  sm:flex-row sm:items-center gap-4 mb-4 p-4 bg-gray-50 rounded-lg shadow-sm">
      <!-- Contenedor de la información del perfil -->
    <form action="">
      <div class="flex flex-1 items-center gap-4 flex-1">
        <img 
          alt="imagen de {{perfil.nombre}}" 
          class="object-cover object-center w-40 h-40 rounded-full border border-gray-300">
          
        <div class="text-left">
            <label class="font-bold text-gray-700" for="img">Imagen perfil</label>
            <input id="img" type="file" accept="image/jpeg">
        </div>
      </div>
    
    </form>
</div>
  </section>
  <section class="w-[50%] rounded-lg border border-blue-gray-50 font-sans py-4 px-6 bg-white shadow-md  mx-[25%] mt-4">
    <h1 class=" font-bold text-xl">Editar Información Básica</h1>
    <form action="">
        <div class="my-4 w-[100%]">
            <label for="" class="my-4">Nombres</label><br>
            <input class="border border-blue w-[100%]" type="text" placeholder="nombres del tipejo">
          </div>
          <div class="my-4 w-[100%]">
            <label for="" class="my-4">Apellidos</label><br>
            <input class="border border-blue w-[100%]" type="text" placeholder="apellidos del tipejo">
          </div>
          <div class="my-4 w-[100%]">
            <label for="" >Biografia</label><br>
            <input class="border border-blue w-[100%] h-[300px]" type="text" placeholder="no se, informacion">
          </div>
          <div class="flex justify-end">
            <button class="my-4 border border-blue w-[200px] h-[50px] rounded-lg">Guardar cambios</button>
          </div>
    </form>
  </section>
  <section class="w-[50%] rounded-lg border border-blue-gray-50 font-sans py-4 px-6  bg-white shadow-md  mx-[25%] mt-4">
    <h1 class=" font-bold text-xl">Cambiar Contraseña</h1>
    <form action="">
        <div class="my-4 w-[100%">
            <label for="" class="my-4">Contraseña actual</label><br>
            <input class="border border-blue w-[100%]" type="text" placeholder="Ingrese su contraseña actual">
          </div>
          <div class="my-4 w-[100%">
            <label for="" class="my-4">Nueva Contraseña</label><br>
            <input class="border border-blue w-[100%]" type="text" placeholder="ingrese su nueva contraseña">
            <input  type="email">
          </div>
          <div class="my-4 w-[100%">
            <label for="" class="my-4">Confirmar Nueva Contraseña</label><br>
            <input class="border border-blue w-[100%]" type="text" placeholder="vuelva a ingresar la nueva contraseña">
            <input  type="text">
          </div>
          <div class="flex justify-end">
          <button class="my-4 border border-blue w-[200px] h-[50px] rounded-lg">Cambiar Contraseña</button>
        </div>
    </form>
  </section>
