<section id="porque-lo-hacemos" class="py-20">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl text-blancofull font-bold mb-6">¿Por qué lo hacemos?</h2>
        <p class="text-yellow-100 max-w-3xl mx-auto">Creemos que el acceso
            a mentores calificados debe estar al alcance de todos, sin
            importar ubicación o nivel económico. Nuestra plataforma
            está diseñada para democratizar el aprendizaje, y permitir
            que cualquier persona pueda adquirir conocimientos y
            habilidades de expertos en su campo.</p>
        <img src="/images/global.png" alt="Acceso global a la mentoría"
            class="mx-auto rounded-lg mt-6 w-[400px] h-[400px] object-cover">
    </div>
</section>